/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

/*global styles*/
*{
    box-sizing: border-box;
}
sup {font-size:x-small; vertical-align:super;}
img{
    max-width: 100%;
}

/*Text styles*/
html{
  font-size: 16px;
}
body {
  font-family: 'fantabular-sans-mvb', mono;
  line-height: 1.6875rem;
  color: #003333;
  background-color:#fffbf2;
  padding-top: 1rem;
}
h1, h2, h3, h4, p{
  
}

h1{
    font-family: 'fantabular-mvb', mono;
    font-style: italic;
    font-size: 4rem;
    line-height: 5.0625rem;
}

.vert-center{
  align-self: center;
  grid-row: auto / span 2;
}
h2{
  font-family: 'fantabular-mvb', monospace;
  font-weight: 500;
  font-style:italic;
  font-size: 2rem;
  line-height: 3.5625rem;
}

h2.full-center {
  grid-row: auto/ span 1;
  text-align: center;
  align-self: center;
}

h3{
  font-family: 'fantabular-sans-mvb' monospace;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: .5rem;
}

p{
  padding-bottom: .5rem;
}

strong{
  font-weight: 500;
  color:#ff6633;
}

.small-italic{
  font-size: 1rem;
  color: #fffbf2;
  background-color:#003333;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 0;
  text-transform:none;
  display: inline;
}

.pull-quote{
  font-family:'fantabular-mvb', mono;
  font-style: italic;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.8125rem;
  color:#ff6633;
}

.quote{
  font-family:'fantabular-mvb', mono;
  font-style: italic;
  padding-left: 1.6875rem;
  border-left: solid 1px #003333;
}

.attrib{
  font-weight: 900;
  text-align: right;
  font-size: 1.333rem;
}
.nowrap{
  white-space: nowrap;
}

/*end text styles*/

/*Grid styles*/
.nwrapper{
padding: 0 15vw;
}
.grid12{
  --num-cols: 12;
  --col-width: 7.275vw;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), var(--col-width));
    grid-auto-rows: var(--col-width);
    gap: 1rem;
}



/*size styles?*/
.two-wide{
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.three-wide{
  grid-column: auto / span 3;
  grid-row: auto / span 3;
}

.four-wide{
  grid-column: auto / span 4;
  grid-row: auto / span 4;
}

.ten-row{
  grid-row:auto / span 10;

}

.twelve-wide{
  grid-column:auto / span 12;

}
/*end size*/

/*Grid positioning*/
.lefttext{
  grid-column: 3 / span 4;
}

.righttext{
  grid-column: 7 / span 4;
}

.start-three{
  grid-column-start: 3
}
/*end positioning*/

/*Shapes*/
.shape{
  background-color:#003333;
}
.shape::before{
  content:" ";
  padding-top: 100%;
  display: block;
}


  
  /*Color Styles*/
  .green{
    background-color:#336633;
    color: #336633;
    border-color: transparent transparent #336633 transparent;
    /*border-radius: 100%;*/
  }
  
  .darkblue{
  background-color: #003333;
  color: #003333;
  border-color: transparent transparent #003333 transparent;
  }
  
  .orange{
    background-color:#ff6633;
    color: #ff6633;
    border-color: transparent transparent #ff6633 transparent;
  }
  
  .teal{
    background-color: #66ccac;
    color: #66ccac;
     border-color: transparent transparent #66ccac transparent;
  }
  /*Shape Styles*/
  .circle{ 
  border-radius: 100%;}
  
  .square {
    
  }
  


  .tri {
    border-style: solid;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tri:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top:-800px;
  
  border-top: 800px solid transparent;
  border-right: 800px solid;
}

.tri-up-left{
  transform:rotate(180deg);
}

.tri-down-left{
  transform:rotate(90deg);
}

.tri-up-right{
  transform:rotate(-90deg);
}

